<script type="text/ng-template" id="ngtable/pager">
	<div class="psrl">

		<ul class="pager ng-cloak">
			<li ng-repeat="page in pages"
				ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
				ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">

				<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
				<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>

			</li>
		</ul>


		<span style="position: absolute; top: 5px; left: 0; right: 0; margin: auto; display: block; width: 50px; text-align: center;">
			{{ params.page() }} / {{ params.getPages() }}
		</span>
	</div>

</script>
