<div class="timeLineBox">
	<div class="timeLineProgressBar">
		<div class="timeLineProgress"></div>
	</div>
	<div class="timeLineMainBox" style="padding:  0 45px;">
		<div class="setTimeLineBox" ng-init="showSetLine = false" ng-show="showSetLine">
			<div class="form-inline pt10">
				<div class="form-group col-md-3">
					<label for="startTime" class="pr20">开始时间</label>
					<input class="form-control" type="datetime-local" id="startTime" name="input"  ng-model="opt.startTime" placeholder="yyyy-MM-ddTHH:mm:ss" />
				</div>
				<div class="form-group col-md-3">
					<label for="endTime" class="pr20">开始时间</label>
					<input class="form-control" type="datetime-local" id="endTime" name="input" ng-model="opt.endTime" placeholder="yyyy-MM-ddTHH:mm:ss" />
				</div>
				<div class="form-group col-md-2">
					<label class="pr20">请选择时间轴点密度</label>
					<select class="form-control" ng-init="opt.tickWidth = '100'" ng-model="opt.tickWidth">
						<option value="200">大</option>
						<option value="100">中</option>
						<option value="50">小</option>
					</select>
				</div>
				<div class="form-group col-md-2">
					<label class="pr20">按年月日显示时间轴</label>
					<select class="form-control" ng-init="opt.timeOut = 'minute'" ng-model="opt.timeOut" >
						<option value="year">年</option>
						<option value="month">月</option>
						<option value="day">日</option>
						<option value="hour">时</option>
						<option value="minute">分</option>
					</select>
				</div>
				<button type="button" ng-click="setTimeLine();" class="btn btn-success">设置时间轴</button>
			</div>
		</div>
		<div class="showTimeBox">
			<div class="timeLine-line"></div>
			<div class="timeLine-dot-box">
				<!--<div class="timeLine-dot"  ng-repeat="i in initData" ng-style="{left:i.dotLeft,'background':i.level ? i.level:'#FFCE9B','cursor':i.event ? 'pointer':'default','boxShadow':i.shadow}" ng-click = "dotClick(i,initData);" title="{i.title}"></div>-->
			</div>
			<div class="timeLine-time-box">
				<!--<div class="timeLine-time"  ng-repeat="i in initData" ng-style="{left:i.titleLeft}" title="{i.title}">{{i.title}}</div>-->
			</div>
			<div class="setIcon"> <i class="fa fa-stop" ng-click="showSetBox()"></i>设置</div>
			<div id="nowBtn" class="nowBtn active no_selected" ng-click ="setRealTime()">实时 </div>
		</div>
	</div>

</div>
