@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url("fonts/OpenSans_300.eot");
  src: local('Open Sans Light'), local('OpenSans-Light'), url("fonts/OpenSans_300.eot") format('embedded-opentype'), url("fonts/OpenSans_300.woff") format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/OpenSans_400.eot");
  src: local('Open Sans'), local('OpenSans'), url("fonts/OpenSans_400.eot") format('embedded-opentype'), url("fonts/OpenSans_400.woff") format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("fonts/OpenSans_600.eot");
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url("fonts/OpenSans_600.eot") format('embedded-opentype'), url("fonts/OpenSans_600.woff") format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/OpenSans_700.eot");
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url("fonts/OpenSans_700.eot") format('embedded-opentype'), url("fonts/OpenSans_700.woff") format('woff');
}
