<tr>
    <td>
        <select class="form-control input-small">
            <option></option>
            <option>and</option>
            <option>or</option>
        </select>
    </td>
    <td>
        <select class="form-control input-xsmall">
            <option></option>
            <option>(</option>
            <option>((</option>
            <option>(((</option>
            <option>((((</option>
        </select>
    </td>
    <td>
        <select class="form-control input-xsmall">
            <option>111</option>
            <option>aaa</option>
        </select>
    </td>
    <td>
        <select class="form-control input-small">
            <option></option>
            <option>null</option>
        </select>
    </td>
    <td>
        <select class="form-control input-xsmall">
            <option>=</option>
            <option>!=</option>
            <option>~=</option>
            <option>!~=</option>
        </select>
    </td>
    <td>
        <select class="form-control input-small">
            <option>host</option>
            <option>app</option>
            <option>inst</option>
            <option>param</option>
        </select>
    </td>
    <td>
        <select class="form-control input-xsmall">
            <option></option>
            <option>)</option>
            <option>))</option>
            <option>)))</option>
            <option>))))</option>
        </select>
    </td>
    <td>
        <select class="form-control input-xsmall">
            <option>正向</option>
            <option>反向</option>
        </select>
    </td>
    <td data>
        <i class="glyphicon glyphicon-trash font-blue" data-action="remove">
        </i>
    </td>
</tr>