<tr>
    <td>
        <select class="form-control input-small">
            <option></option>
            <option>and</option>
            <option>or</option>
        </select>
    </td>
    <td>
        <select class="form-control input-xsmall">
            <option></option>
            <option>(</option>
            <option>((</option>
            <option>(((</option>
            <option>((((</option>
        </select>
    </td>
    <td>
        <select ng-model="ciVal" class="form-control input-small" ng-change="ValClassify();">
            <option ng-repeat="ciVal in ciVals">{{ciVal.id}}</option>
        </select>
    </td>
    <td>
        <select class="form-control input-small">
            <option>null</option>
        </select>
    </td>
    <td>
        <select class="form-control input-small">
            <option>=</option>
            <option>!=</option>
            <option>~=</option>
            <option>!~=</option>
        </select>
    </td>
    <td>
        <input type="text" class="form-control input-small" placeholder="请输入属性值">
    </td>
    <td>
        <select class="form-control input-xsmall">
            <option></option>
            <option>)</option>
            <option>))</option>
            <option>)))</option>
            <option>))))</option>
        </select>
    </td>
    <td data>
        <i class="glyphicon glyphicon-trash font-blue" data-action="remove">
        </i>
    </td>
</tr>