<div class="resultFullView" ng-class="{'resultFullViewUpDiv': isFull}" oncontextmenu="return false;">
	<div class="main-box-content-heading" ng-show="isFull1">
		<div class="toolbar group-list-view-operate" ng-show="true" style="right: 10px">
			<span class="ng-binding"><i class="fa fa-clone"></i> {{view.name}}</span>

			<div class="toolbar-group">
				<div type="button" class="toolbar-btn" ng-click="goMonitor();" title="监控页面">
					<i class="toolbar-icon toolbar-icon-monitor"></i>
				</div>
				<i class="toolbar-divider"></i>
				<div type="button" class="toolbar-btn" ng-click="subscription();" ng-hide="isSubscribe" title="恢复订阅">
					<i class="toolbar-icon toolbar-icon-subscription"></i>
				</div>
				<div type="button" class="toolbar-btn" ng-click="cancelSubscription();" ng-show="isSubscribe" title="取消订阅">
					<i class="toolbar-icon toolbar-icon-subscription-cancel"></i>
				</div>
				<i class="toolbar-divider"></i>
				<div type="button" class="toolbar-btn" ng-click="goBackToView(1);" title="缩小">
					<i class="toolbar-icon toolbar-icon-compress"></i>
				</div>
			</div>
		</div>
	</div>

	<div class="main-box-content-heading" ng-show="isFull2">
		<div class="toolbar group-list-view-operate" ng-show="true" style="right: 10px">
			<span class="ng-binding"><i class="fa fa-clone"></i> {{view.name}}</span>
			<div class="toolbar-group">
				<div type="button" class="toolbar-btn" ng-click="goMonitor();" title="监控页面">
					<i class="toolbar-icon toolbar-icon-monitor"></i>
				</div>
				<i class="toolbar-divider"></i>
				<div type="button" class="toolbar-btn" ng-click="deleteView();" title="删除视图">
					<i class="toolbar-icon toolbar-icon-trash"></i>
				</div>
				<i class="toolbar-divider"></i>
				<div type="button" class="toolbar-btn" ng-click="goBackToView(2);" title="缩小">
					<i class="toolbar-icon toolbar-icon-compress"></i>
				</div>
			</div>
		</div>
	</div>

	<div class="main-box-content-heading" ng-show="isFull3">
		<div class="toolbar group-list-view-operate" ng-show="true" style="right: 10px">
			<span class="ng-binding"><i class="fa fa-clone"></i> {{view.name}}</span>
			<div class="toolbar-group">
				<div type="button" class="toolbar-btn" ng-click="goMonitor();" title="监控页面">
					<i class="toolbar-icon toolbar-icon-monitor"></i>
				</div>
				<i class="toolbar-divider"></i>
				<div type="button" class="toolbar-btn" ng-click="deleteView();" title="删除视图">
					<i class="toolbar-icon toolbar-icon-trash"></i>
				</div>
				<i class="toolbar-divider"></i>
				<div type="button" class="toolbar-btn" ng-click="goBackToView(3);" title="缩小">
					<i class="toolbar-icon toolbar-icon-compress"></i>
				</div>
			</div>
		</div>
	</div>

	<div class="result-full-view-div" ng-class="{'resultFullViewUp': isFull}"></div>
</div>

<div class="user-overview h100 psrl" ng-scroll>

	<div class="user-box">

		<div class="user-box-head clearfix">
			<span class="user-box-head-tool">
			</span>
			<h4  class="user-box-title text-success"><i class="fa fa-info-circle"></i> 我订阅的视图
				<button ng-click="showMySubscribe = !showMySubscribe" class="btn btn-link btn-xs psal r10">
					<i class="fa fa-plus" ng-show="!showMySubscribe" style="font-size: 15px;"></i>
					<i class="fa fa-minus" ng-show="showMySubscribe" style="font-size: 15px;"></i>
				</button>
			</h4>
		</div>

		<div class="user-box-body" ng-show="showMySubscribe">


			<div class="search-views clear  mb20 mt20 mr20 ml20">


				<div class="search-views-item" ng-repeat="item in views">

					<img ng-src="{{ staticUrl(item.imageUrl) }}" style="opacity: 0;" />

					<div>
						<img class="img img-rounded" ng-src="{{ staticUrl(item.imageUrl) }}" />

						<div class="search-views-footer">
							<div class="search-views-text">
								{{item.categoryName}} <span class="search-views-divider">|</span> {{item.name}}
							</div>

							<div class="search-views-expand" ng-click="showFullView(item, 1)" title="展开">
								<i class="fa fa-expand"></i>
							</div>
						</div>
					</div>
				</div>

				<div ng-show="!views.length" class="alert alert-warning mt20 mr20 ml20 mb20">
					<i class="fa fa-exclamation-circle"></i> 没有搜索到任何视图!
				</div>
			</div>
		</div>
	</div>


	<div class="user-box" ng-show="isAdmin">

		<div class="user-box-head clearfix">
			<span class="user-box-head-tool">
			</span>
			<h4  class="user-box-title text-primary"><i class="fa fa-info-circle"></i> 我公开的视图
				<button ng-click="showMyPublic = !showMyPublic" class="btn btn-link btn-xs psal r10">
					<i class="fa fa-plus" ng-show="!showMyPublic" style="font-size: 15px;"></i>
					<i class="fa fa-minus" ng-show="showMyPublic" style="font-size: 15px;"></i>
				</button>
			</h4>
		</div>

		<div class="search-views clear mb20 mt20 mr20 ml20" ng-show="showMyPublic">


			<div class="search-views-item" ng-repeat="item in publicViews">

				<img ng-src="{{ staticUrl(item.imageUrl) }}" style="opacity: 0;" />

				<div>
					<img class="img img-rounded" ng-src="{{ staticUrl(item.imageUrl) }}" />

					<div class="search-views-footer">
						<div class="search-views-text">
							{{item.categoryName}} <span class="search-views-divider">|</span> {{item.name}}
						</div>

						<div class="search-views-expand" ng-click="showFullView(item, 2)" title="展开">
							<i class="fa fa-expand"></i>
						</div>
					</div>
				</div>
			</div>

			<div ng-show="!publicViews.length" class="alert alert-warning mt20 mr20 ml20 mb20">
				<i class="fa fa-exclamation-circle"></i> 没有搜索到任何视图!
			</div>
		</div>

	</div>

	<div class="user-box">

		<div class="user-box-head clearfix">
			<span class="user-box-head-tool">
			</span>
			<h4  class="user-box-title"><i class="fa fa-info-circle"></i> 我的私有视图
				<button ng-click="showMyPrivate = !showMyPrivate" class="btn btn-link btn-xs psal r10">
					<i class="fa fa-plus" ng-show="!showMyPrivate" style="font-size: 15px;"></i>
					<i class="fa fa-minus" ng-show="showMyPrivate" style="font-size: 15px;"></i>
				</button>
			</h4>
		</div>

		<div class="search-views clear  mb20 mt20 mr20 ml20" ng-show="showMyPrivate">


			<div class="search-views-item" ng-repeat="item in privateViews">

				<img ng-src="{{ staticUrl(item.imageUrl) }}" style="opacity: 0;" />

				<div>
					<img class="img img-rounded" ng-src="{{ staticUrl(item.imageUrl) }}" />

					<div class="search-views-footer">
						<div class="search-views-text">
							{{item.categoryName}} <span class="search-views-divider">|</span> {{item.name}}
						</div>

						<div class="search-views-expand" ng-click="showFullView(item, 3)" title="展开">
							<i class="fa fa-expand"></i>
						</div>
					</div>
				</div>
			</div>

			<div ng-show="!privateViews.length" class="alert alert-warning mt20 mr20 ml20 mb20">
				<i class="fa fa-exclamation-circle"></i> 没有搜索到任何视图!
			</div>
		</div>

	</div>
</div>
