
<tr class="leftMenuBtn">
    <td class="col-md-4">
        <div class="btn-group col-md-12">
            <button class="btn btn-large col-md-10 col-md-offset-3 dropdown-toggle" data-toggle="dropdown">
                <b class="span11 col-md-11"></b>
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu col-md-10 col-md-offset-3">
				{{#each list}}
                <li>
                    <a>{{id}}</a>
                </li>
				{{/each}}
            </ul>
        </div>
    </td>
    <td class="text-center">

		<div class="checkbox-list">
			{{#each listb}}
				<label class="checkbox-inline">
					<input type="checkbox" ng-value="{{this}}" />
					{{this}}
				</label>
			{{/each}}
		</div>

	</td>

    <td class="text-right">
        <button data-action="remove" class="btn btn-xs btn-danger"> <i class="fa fa-times"></i></button>
    </td>
</tr>
