/* .nav-collapse.collapse{height:100% !important;overflow-y:auto !important;} */
.page-content .container-fluid {
	height: 100%;
}
.red {
	color: red;
	margin-left:5px;
}
.icon_action {
	font-size: 16px;
}
.btn {
	padding: 4px 12px !important;
}
.search_input .btn {
	vertical-align: top;
	margin-top: -3px;
}
.search_input input[class*="span"] {
	float: left;
}
div.hr {
	height: 1px;
	margin: 9px 1px;
	overflow: hidden;
	background-color: #e5e5e5;
	border-bottom: 1px solid #fff;
}
.ztree_down {
	margin-top: 10px;
	border: 1px solid #617775;
	background: #f0f6e4;
	width: 200px;
	height: 200px;
	overflow-y: scroll;
	overflow-x: auto;
	position: absolute;
	display: none;
}
.ztree_down ul {
	list-style: none;
}
.tree_svg {
	width: 20px;
	height: 15px;
}
.catagory_warp {
	position: relative;
}
#svg_container {
	float: right;
	width: 120px;
	height: 120px;
	cursor: pointer;
	line-height: 120px;
	text-align: center;
}
#svg_container img {
	width: 100%;
	height: 100%;
}
#svg_body, #addNew_body {
	padding: 10px;
	max-height: 290px;
	overflow: auto;
}
.alert .control-group {
	margin-bottom: 10px;
}
.alert .form-horizontal {
	margin: 0;
}
.alert .form-actions {
	margin: 5px 0 0 0;
	padding: 0 0 0 190px;
	background: none;
}
.alert {
	position: relative;
}
.alert .remove {
	width: 11px;
	height: 16px;
	position: absolute;
	right: 4px;
	top: 2px;
	opacity: 0.2;
	background: url(../img/remove-icon-small.png) no-repeat;
}
.alert .remove:hover {
	opacity: 1;
}
#svg_body img {
	width: 60px;
	height: 60px;
	cursor: pointer;
}
#addNew_body .form-horizontal .control-label {
	width: 80px;
}
#addNew_body .form-horizontal .controls {
	margin-left: 100px;
}
.choice_controls {
	position: relative;
	height: 18px;
	display: inline-block;
}
.choice_controls abbr {
	display: none;
	position: absolute;
	cursor: pointer;
	right: 5px;
	top: 9px;
	width: 12px;
	height: 13px;
	font-size: 1px;
	background: url("../../scripts/plugins/chosen-bootstrap/chosen/chosen-sprite.png") right top no-repeat;
}
.btn.pink, .btn.pink:hover, .btn.pink:focus, .btn.pink:active, .btn.pink.active, .btn[disabled].pink, .btn.pink.disabled {
	background-color: #f05050 !important;
}
.btn.pink2, .btn.pink2:hover, .btn.pink2:focus, .btn.pink2:active, .btn.pink2.active, .btn[disabled].pink2, .btn.pink2.disabled {
	background-color: #27c24c !important;
}
.btn.pink3, .btn.pink3:hover, .btn.pink3:focus, .btn.pink3:active, .btn.pink3.active, .btn[disabled].pink3, .btn.pink3.disabled {
	background-color: #23b7e5 !important;
}
.portlet-title .tools > a.pink:hover, .portlet-title .tools > a.pink2:hover {
	opacity: 1;
}
.table-center th, .table-center td {
	text-align: center;
}
#inrelation tbody input {
	width: 80%;
	margin-bottom: 0;
}
.table-center select.field {
	width: 80px;
}
/**dataTable**/

.paging_full_numbers {
	height: 22px;
	line-height: 22px;
}
.paging_full_numbers a.paginate_button,  .paging_full_numbers a.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
 *cursor: hand;
}
.paging_full_numbers a.paginate_button {
	background-color: #ddd;
	color: #333;
}
.paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
	text-decoration: none;
}
.paging_full_numbers a.paginate_button_disabled {
	background-color: #eee;
	border: 1px #fff solid;
	color: #666;
	text-decoration: none;
}
.paging_full_numbers a.paginate_button_disabled:hover {
	background-color: #eee;
	border: 1px #fff solid;
	color: #666;
	text-decoration: none;
}
.paging_full_numbers a.paginate_active {
	background-color: #99B3FF;
}
.paging_full_numbers a.paginate_active:hover {
	text-decoration: none;
}
tr.even td.sorting_1 {
	background-color: #EAEBFF;
}
.dataTables_wrapper {
	position: relative;
	clear: both;
	zoom: 1; /* Feeling sorry for IE */
}
.dataTable tbody td {
	vertical-align: middle;
}
.dataTable .aa {
	text-align: center;
}
.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}
.tree .branch {
	margin: 0 0 0 17px;
}
.span12.column_title {
	min-height: 20px;
	line-height: 20px;
}
.alert td.red, .details td.red {
	color: red;
}
#down_list li {
	background: #fff !important;
	margin: 4px 0;
	position: relative;
}
#down_list li a {
	position: absolute;
	top: 3px;
	right: 3px;
	width: 12px;
	height: 13px;
	background: url("../../scripts/plugins/chosen-bootstrap/chosen/chosen-sprite.png") right top no-repeat
}
#down_list li a:hover {
	background-position: right -11px;
}
#area {
	padding-left: 70px;
}
/*modal修正*/
.modal.fade.in {
	top: 50%;
}
.modal-open .header .container-fluid {
	padding-right: 20px;
}
/*dbmanage*/
#db_save, #db_edit, #db_del {
	display: none;
}
.od_input input {
	width: 80%;
}
.table .highback {
	background: #3d3d3d;
	color: white;
}
#fields {
	display: none;
}
#fields .table, #choice_field .table {
	background: #fff;
}
#fields .field_warp {
	max-height: 200px;
	overflow: auto;
	text-align: left;
}
#fields .fields {
	text-align: center;
}
#fields .fields input {
	text-align: left;
}
.fields_name {
	text-align: center;
	background: #d9edf7;
	font-weight: bold;
	font-size: 16px;
}
.table input, .table select {
	margin-bottom: 0;
}
.search_input .search_sql {
	width: auto;
	margin-left: 5px;
}
.db_connect {
	margin: 0 0 0 5px;
}
#getField {
	display: none;
}
#db_table {
	float: left;
}
.fields_position {
	padding-left: 40px;
	position: relative;
}
.fields_position .field_border {
	position: absolute;
	border: 2px #0362fd solid;
	border-right: none;
	left: 25px;
	width: 15px;
	height: 38px;
}
.fields_position .field_border1 {
	top: 13px;
}
.fields_position .field_border2 {
	top: 81px;
}
.fields_position .field_warp span {
	display: inline-block;
	width: 70px;
}
#sAdd, #eAdd {
	margin: 0 0 10px 10px;
}
#dbRe_save {
	text-align: center;
	margin: 10px 0;
	display: none;
}
#search_title {
	background: none;
}
.nav-pills li {
	text-align: center;
}
/*mapping time Choice*/
.mdChoice {
	position: absolute;
	z-index: 100;
	border: 1px #ddd solid;
	padding: 4px 6px;
	background: #fff;
	display: none;
}
.mdChoice label.block {
	display: block;
	width: auto;
}
.mdChoice label {
	display: inline-block;
	width: 90px;
}
#showDate label.block {
	display: block;
	width: auto;
}
#showDate label {
	width: 40px;
}
.form-actions .btn {
	margin: 0 5px;
}
.popover-content {
	word-break: break-all;
	word-wrap: break-word;
}
.zoom .zoom-icon {
	background: #222 url("../img/used.png") center center no-repeat;
}
.zoom .icon_nonUsed {
	background: #222 url("../img/del.png") center center no-repeat;
}
#img_file {
	width: 80px;
	height: 30px;
	cursor: pointer;
	outline: medium none;
	position: absolute;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	left: 0px;
	top: 0px;
}
#img_body .details a {
	color: #000;
}
#img_body .details a:hover {
	text-decoration: none;
	color: #005580;
}
.icon_change{
	display:inline-block;
	position:relative;
}
.icon_change .active-result,.icon_change .no-results,.icon_change .chzn-container-single .chzn-single span{
	color: #333 !important;
  	font-size: 12px !important;
  	font-weight: 400 !important;
 }
 .icon_change .select2-container .select2-choice span{
 	color: #333 !important;
  	font-size: 12px !important;
  	font-weight: 400 !important;
 }
 .icon_change .thumbnail{width: 30px;}
 
/*权限管理*/
 .search_input .chzn-container-single{float:left;text-align:left;}
 .user_manage .user_desName{float:left;width:60px;margin-top:5px;text-align:right;}
 .user_manage td{padding:5px 3px;}
 .user_manage .user_des{width:205px;height:24px;}
 .user_manage .user_fun{width:60%;}
 
 /*================20140925===========*/
 #svg_container{padding-right:30%;}
 
.btn.pink, .btn.pink:hover, .btn.pink:focus, .btn.pink:active, .btn.pink.active, .btn[disabled].pink, .btn.pink.disabled {
	/*background-color: #f05050 !important;*/
	position:absolute;left:0px; top:17px;width:8px; height:9px;display:inline-block;padding:0 !important;margin:0;
}
.btn.pink2, .btn.pink2:hover, .btn.pink2:focus, .btn.pink2:active, .btn.pink2.active, .btn[disabled].pink2, .btn.pink2.disabled {
	/*background-color: #27c24c !important;*/
	position:absolute;left:0px; top:17px;width:8px; height:9px;display:inline-block;padding:0 !important;margin:0;
}
.btn.pink3, .btn.pink3:hover, .btn.pink3:focus, .btn.pink3:active, .btn.pink3.active, .btn[disabled].pink3, .btn.pink3.disabled {
	/*background-color: #23b7e5 !important;*/
	position:absolute;left:0px; top:17px;width:8px; height:9px;display:inline-block;padding:0 !important;margin:0;
}
.row-fluid .black.btn{
	border-radius: 3px !important;
	font-size:14px;
}
.row-fluid .dropdown-toggle{
	border-radius: 3px !important;
	position:relative; padding-left:20px;font-family:Microsoft YaHei;font-size:14px; color:#fff;
}

